# Ignorer l'environnement virtuel
venv/
.env

# Ignorer les fichiers compilés Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les fichiers logs et temporaires
*.log
*.tmp

# Ignorer les fichiers de configuration d’IDE
.vscode/
.idea/
*.swp

# Ignorer les fichiers système (Mac et Windows)
.DS_Store
Thumbs.db

